aws_region          = "us-east-1"
name                = "dp3-wildfire"
schedule_expression = "rate(1 hour)"
firms_map_key       = "7ec13be5e7aefaee4708a1559378ee3c"

ttl_days       = 90
day_range      = 1
min_confidence = 70
daytime_only   = true
firms_area     = "-141.0,41.6,-52.6,83.1"
plot_key       = "latest/wildfire_latest.png"
plot_bucket_name = ""

tags = {
  Environment = "dev"
  Owner       = "ds5220"
}
